body {
    background-color: #D2E3EE;
}

* {
    font-family: 'Phudu', cursive;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #212227;
}

nav {
    font-size: 32px;
    display: flex;
    height: 60px;
    gap: 20px;
    align-items: center;
    background-color: #647490;
    padding: 15px;
}

.logo {
    font-size: 42px;
    padding-right: 5px;
}

nav > * {
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 5px;
}

nav > *:hover {
    box-shadow: 11px 8px 24px 0px rgba(66, 68, 90, 1);
}

.mainPage {
    width: 80%;
    margin: 20px auto;
    background-color: #AAB9CF;
    border-radius: 10px;
    min-height: 200px;
    padding: 20px;
}


.buttonStyle {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonStyle:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

#taskName {
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    gap: 10px;
}

#taskName > #TaskNameInput {
    width: 300px;
    height: 30px;
    font-size: 24px;
}

.taskHolder {
    transition: opacity 1s ease-in-out;
}

.contact {
    display: flex;
    justify-content:space-around;
}

.links {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #647490;
    border-radius: 10px;
    width: 40%;
    padding: 32px;
    height: 100%;
}

.links > * {
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 5px;
}

.links > *:hover {
    box-shadow: 11px 8px 24px 0px rgba(66, 68, 90, 1);
}

.formDiv {
    width: 40%;
    background-color: #D2E3EE;
    border-radius: 10px;
    padding: 32px;
    font-size: 28px;
    text-align: center;
}

.formDiv > form >* {
    padding: 5px;
    border-radius: 15px;
}

